
<%= form_for @student do |f| %>

    <div id="wb_TextTituloRegEst">
    <span style="color:#000000;font-family:'Segoe UI';font-size:32px;">
        <strong>
            <%= name %> un Estudiante
        </strong>
    </span>
    </div>
    <hr id="Line5NewEst">
    <div id="wb_IconFont1">
        <div id="IconFont1"><i class="material-icons">&#xe7fe;</i></div>
    </div>
    <%= f.text_field :codigo, placeholder: "Codigo", class: "EditBox", value: "", type: "number", id: "EditboxDocumentoRegEst"%>
    <hr id="Line2NewEst">
    <%= f.text_field :documento, placeholder: "Documento", class: "EditBox", value: "", type: "number", id: "EditboxDocumentoRegEst"%>
    <hr id="Line2NewEst">
    <%= f.text_field :nombres, placeholder: "Nombres", class: "EditBox", value: "", type: "text", id: "EditboxNombreRegEst"%>
    <hr id="Line3NewEst">
    <%= f.text_field :apellidos, placeholder: "Apellidos", class: "EditBox", value: "", type: "text", id: "EditboxApellidosRegEst"%>
    <hr id="Line4NewEst">
    <%= f.label :LabelTipoRegEst, "Tipo: ", id: "LabelTipoRegEst"%>
    <hr id="Line1">

    <%= f.text_field :es_egresado, placeholder: "Tipo (0 para Estudiante, 1 para egresado)", class: "EditBox", value: "", type: "number", id: "EditboxApellidosRegEst"%>

    <hr id="Line5NewEst">

    <%= f.select :programa, Student.opciones_programa,{ prompt: "Seleccione el programa"}, id: "ComboboxPrograma" %>

    <hr id="Line9NewEst">

    <%= f.select :semesters, Semester.obtenerSemestres,{ prompt: "Seleccione el semestre"}, id: "ComboboxPrograma" %>

    <hr id="Line8NewEst">

    <%= f.text_field :email, placeholder: "E-mail", class: "EditBox", value: "", type: "text", id: "EditboxApellidosRegEst"%>

    <hr id="Line8NewEst">
    <%= f.password_field :password , class: "EditBox", value: "", spellcheck: "false", placeholder: "Contraseña", id: "EditboxClaveRegEst"%>
    <hr id="Line10NewEst">
    <%= f.password_field :password_confirmation , class: "EditBox", value: "", spellcheck: "false", placeholder: "Confirmar Contraseña", id: "EditboxConfClaveRegEst"%>
    <hr id="Line6NewEst">
    <%= f.submit "Registrar", id: "ButtonRegistrarEstRegEst", class: "boton"%> 
    <hr id="Line6NewEst">
    <%= @student.errors.full_messages.each do |message| %>
      <div id="wb_TextErrorRegEst">
        <span style="color:#FF0000;font-family:'Segoe UI';font-size:13px;">
          * <%= message %>
        </span>
      </div>
                    
                    
     <% end %>  
    <hr id="Line6NewEst">            
<% end %>