<% @title="Universidad Catolica de Colombia" %>
<div id="wb_Carousel1">
    <div id="Carousel1">
        <div class="frame frame-1">
            <div class="innerframe">
                <div id="wb_TextNoticia1" class="TituloNoticia">
                    <span style="color:#4F4F4F;">NOTICIA 1</span>
                </div>
            </div>
        </div>
        <div class="frame frame-2">
            <div class="innerframe">
                <div id="wb_Text1" class="TituloNoticia">
                    <span style="color:#4F4F4F;">NOTICIA 2</span>
                </div>
                <div id="wb_Text7" class="TituloNoticia">
                    <span style="color:#4F4F4F;">NOTICIA 2</span></div>
                </div>
        </div>
        <div class="frame frame-3">
            <div class="innerframe">
                <div id="wb_Text2" class="TituloNoticia">
                    <span style="color:#4F4F4F;">NOTICIA 3</span>
                </div>
                <div id="wb_Text9" class="TituloNoticia">
                    <span style="color:#4F4F4F;">NOTICIA 3</span>
                </div>
            </div>
        </div>
    </div>
    <div id="Carousel1_back">
        <a><%= image_tag("left-arrow.png", :alt => "Back")%></a>
    </div>
    <div id="Carousel1_next">
        <a><%= image_tag("right-arrow.png", :alt => "Next")%></a>
    </div>
</div>
<div id="wb_FlexContainer3">
    <div id="FlexContainer3">
        <hr id="Line27">
        <div id="wb_Heading4">
            <h1 id="Heading4" class="TextoDivisor">SERVICIOS</h1>
        </div>
        <hr id="Line28">
    </div>
</div>
<div id="wb_LayoutGrid9">
    <div id="LayoutGrid9">
        <div class="row">
            <div class="col-1">
                <div id="wb_ResponsiveMenu1">
                    <label class="toggle" for="ResponsiveMenu1-submenu" id="ResponsiveMenu1-title">Servicios<span id="ResponsiveMenu1-icon"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></span></label>
                    <input type="checkbox" id="ResponsiveMenu1-submenu">
                    <ul class="ResponsiveMenu1" id="ResponsiveMenu1" role="menu">
                        <li><a role="menuitem" href="https://biblioteca.ucatolica.edu.co/" target="_blank" title="Biblioteca UCatolica"><i class="material-icons">&#xe865;</i><br>Biblioteca</a></li>
                        <li><a role="menuitem" href="http://server.ucatolica.edu.co" target="_blank" title="Correo Electronico"><i class="material-icons">&#xe0be;</i><br>Correo</a></li>
                        <li><a role="menuitem" href="https://ava.ucatolica.edu.co/ava2/login/index.php" target="_blank" title="Aula Virtual AVA2"><i class="material-icons">&#xe878;</i><br>Aula&nbsp;Virtual</a></li>
                        <li>
                            <% if student_signed_in? %>
                            <a role="menuitem" href="/students/index"><i class="material-icons">&#xe87c;</i><br>Estudiantes</a>
                            <% else %>
                            <a role="menuitem" href="/students/sign_in"><i class="material-icons">&#xe87c;</i><br>Estudiantes</a>
                            <% end %>
                        </li>
                    </ul>

                </div>
                <hr id="Line6">
            </div>
        </div>
    </div>
</div>
<div id="wb_Divider5">
    <div id="Divider5">
        <hr id="DividerLine8">
        <div id="wb_Heading3">
            <h1 id="Heading3" class="TextoDivisor">NOTICIA DESTACADA</h1>
        </div>
        <hr id="DividerLine9">
    </div>
</div>
<div id="wb_LayoutGrid1">
    <div id="LayoutGrid1">
        <div class="row">
            <div class="col-1">
                <hr id="Line9">
                <picture id="wb_Picture1">
                    <%= image_tag("slide_3.jpg", :alt => "", :id =>"Picture1")%>
                </picture>
                <hr id="Line10">
            </div>
            <div class="col-2">
                <div class="col-2-padding">
                    <hr id="Line11">
                    <div id="wb_Text11">
                        <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:35px;"><strong>Titulo de noticia Destacada</strong></span>
                    </div>
                    <hr id="Line3">
                    <div id="wb_Text3">
                        <span style="color:#FFFFFF;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.&nbsp; Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wb_FlexContainer2">
    <div id="FlexContainer2">
        <hr id="Line7">
        <div id="wb_Heading2">
            <h1 id="Heading2" class="TextoDivisor">NOTICIAS</h1>
        </div>
        <hr id="Line8">
    </div>
</div>
<div id="wb_LayoutGrid2">
    <div id="LayoutGrid2">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutGrid7">
                    <div id="LayoutGrid7">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_Text4" class="SubTitulo">
                                    <span style="color:#DCDCDC;font-family:'Segoe UI';font-size:27px;"><strong>Noticia 1</strong></span>
                                </div>
                                <hr id="Line16">
                                <div id="wb_Image1">
                                    <%= image_tag("fachada_se-2017_06_05_143618.jpg", :alt => "", :id =>"Image1")%>
                                </div>
                                <hr id="Line20">
                                <div id="wb_Text10" class="TextoNoticia">
                                    <span style="color:#DCDCDC;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div id="wb_Text6" class="SubTitulo">
                                    <span style="color:#DCDCDC;font-family:'Segoe UI';font-size:27px;"><strong>Noticia 2</strong></span>
                                </div>
                                <hr id="Line18">
                                <div id="wb_Image2">
                                    <%= image_tag("slide_3.jpg", :alt => "", :id =>"Image2")%>
                                </div>
                                <hr id="Line19">
                                <div id="wb_Text5" class="TextoNoticia">
                                    <span style="color:#DCDCDC;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="wb_Text8" class="SubTitulo">
                                    <span style="color:#DCDCDC;font-family:'Segoe UI';font-size:27px;"><strong>Noticia 3</strong></span>
                                </div>
                                <hr id="Line17">
                                <div id="wb_Image3">
                                    <%= image_tag("Claustro.jpg", :alt => "", :id =>"Image3")%>
                                </div>
                                <hr id="Line13">
                                <div id="wb_Text13" class="TextoNoticia">
                                    <span style="color:#DCDCDC;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr id="Line5">
            </div>
        </div>
    </div>
</div>
<div id="wb_FlexContainer1">
    <div id="FlexContainer1">
        <hr id="Line25">
        <div id="wb_Heading1">
            <h1 id="Heading1" class="TextoDivisor">ACTIVIDADES</h1>
        </div>
        <hr id="Line26">
    </div>
</div>
<div id="wb_LayoutGrid3">
    <div id="LayoutGrid3">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutGrid4">
                    <div id="LayoutGrid4">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_Text14">
                                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:27px;"><strong>Actividad 1</strong></span>
                                </div>
                                <hr id="Line2">
                                <div id="wb_Shape4">
                                    <div id="Shape4"><div id="Shape4_text"><span style="color:#FFFFFF;font-family:'Segoe UI';font-size:32px;">12 de Septiembre</span></div></div>
                                </div>
                                <hr id="Line23">
                                <hr id="Line33">
                                <div id="wb_Text17" class="TextoActividad">
                                    <span class="TextoActividad">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div id="wb_Text15">
                                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:27px;"><strong>Actividad 2</strong></span>
                                </div>
                                <hr id="Line12">
                                <div id="wb_Shape7">
                                    <div id="Shape7"><div id="Shape7_text"><span style="color:#FFFFFF;font-family:'Segoe UI';font-size:32px;">24 de Octubre</span></div></div>
                                </div>
                                <hr id="Line34">
                                <hr id="Line4">
                                <div id="wb_Text16" class="TextoActividad">
                                    <span style="color:#DCDCDC;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id="wb_Text18">
                                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:27px;"><strong>Actividad 3</strong></span>
                                </div>
                                <hr id="Line22">
                                <div id="wb_Shape5">
                                    <div id="Shape5"><div id="Shape5_text"><span style="color:#FFFFFF;font-family:'Segoe UI';font-size:32px;">12 de Diciembre</span></div></div>
                                </div>
                                <hr id="Line35">
                                <hr id="Line14">
                                <div id="wb_Text19" class="TextoActividad">
                                    <span style="color:#DCDCDC;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr id="Line24">
            </div>
        </div>
    </div>
</div>
<div id="wb_FlexContainer4">
    <div id="FlexContainer4">
        <hr id="Line31">
        <div id="wb_Heading11">
            <h1 id="Heading11" class="TextoDivisor">BENEFICIOS</h1>
        </div>
        <hr id="Line32">
    </div>
</div>
<div id="wb_LayoutGrid8">
    <div id="LayoutGrid8">
        <div class="row">
            <div class="col-1">
                <div id="wb_Heading9">
                    <h6 id="Heading9"></h6>
                </div>
                <div id="wb_FontAwesomeIcon4">
                    <div id="FontAwesomeIcon4"><i class="fa fa-clock-o"></i></div>
                </div>
                <div id="wb_Heading5">
                    <h3 id="Heading5">Ahorra Tiempo</h3>
                </div>
                <hr id="Line1">
                <div id="wb_Text20" class="TextoActividad">
                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:17px;">Tenemos disponible todos los servicios que un estudiante necesitara a lo largo de su carrera. Desde transporte, alimentacion, vivienda, consultorios juridicos. Ademas, todas nuestras sedes estan cerca.</span>
                </div>
            </div>
            <div class="col-2">
                <div id="wb_Heading8">
                    <h1 id="Heading8"></h1>
                </div>
                <div id="wb_FontAwesomeIcon7">
                    <div id="FontAwesomeIcon7"><i class="fa fa-users"></i></div>
                </div>
                <div id="wb_Heading6">
                    <h3 id="Heading6">Bienestar Universitario</h3>
                </div>
                <hr id="Line29">
                <div id="wb_Text21" class="TextoActividad">
                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:17px;">Puedes pasar el tiempo con tus compañeros de estudio, tocando guitarra, jugando a juegos de mesa, ping pong, deportes, y otras actividades que la universidad tiene preparadas para todos los estudiantes de la universidad. Solamente presenta tu carnet para utilizar estos servicios.<br></span><span style="color:#000000;font-family:Arial;font-size:8px;"></span>
                </div>
            </div>
            <div class="col-3">
                <div id="wb_Heading10">
                    <h6 id="Heading10"></h6>
                </div>
                <div id="wb_FontAwesomeIcon8">
                    <div id="FontAwesomeIcon8"><i class="fa fa-ticket"></i></div>
                </div>
                <div id="wb_Heading7">
                    <h3 id="Heading7">Entradas Seguras</h3>
                </div>
                <hr id="Line30">
                <div id="wb_Text22" class="TextoActividad">
                    <span style="color:#FFFFFF;font-family:'Segoe UI';font-size:17px;">Tranquilo!. Con tu carnet de estudiante, egresado o docente podras acceder a las instalaciones de la universidad dentro de los horarios y fechas de funcionamiento. Solo pasalo por un lector y listo.<br></span>
                </div>
            </div>
        </div>
    </div>
</div>
                    
