<div id="wb_LayoutContenidoInsMon">
    <div id="LayoutContenidoInsMon">
        <div class="row">
            <div class="col-1">
                <%= render "/students/infoest", student: @student %>
            </div>
        </div>
    </div>
</div>
<div id="wb_LayoutGrid7">
    <div id="LayoutGrid7">
        <div class="row">
            <div class="col-1">
                <hr id="LineFinalInsMon">
            </div>
        </div>
    </div>
</div>
<div id="wb_LayoutContentFormInsMo">
    <div id="LayoutContentFormInsMo">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutFormInsMat">

                    <%= form_tag(inscribir_student_monitoring_post_path) do%>
                        <%= text_field_tag 'codigo_materia', nil, placeholder: "Codigo de la materia", class: "EditBox", id: "EditboxCodigoMatInsMat"%>
                        <hr id="LinSepComForm">
                        
                        <div id="wb_ButtonInsMatInsMat">
                            <%= submit_tag "Buscar", id: "ButtonInsMatInsMat", class: "boton", style: "color: #FFFFFF"%> 
                        </div>
                    <% end %>
                    <%= render "inscripcion", mensaje: @mensaje, todoBien: @todoBien%>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wb_LayoutGridSep">
    <div id="LayoutGridSep">
        <div class="row">
            <div class="col-1">
                <hr id="LineSepInsmAT">
            </div>
        </div>
    </div>
</div>