<!--<h2>Docente</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end %>-->
<div id="wb_LayoutContenidoDoc" class="container">
        <div id="LayoutContenidoDoc">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-2">
                    <div class="col-2-padding">
                        <div id="wb_LayoutGridLoginDpc">
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <div class="row">
                                    <div class="col-1">
                                        <hr id="separador1" class="separador">
                                        <div id="wb_TextTituloLoginDocente" class="h1">
                                            <h1>Iniciar Sesion como Docente</h1>
                                        </div>
                                        <hr id="separador2" class="separador">
                                        <div id="wb_iconLogin">
                                            <svg id="iconLogin" height="100%" width="100%" viewBox="0 0 157 157" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <g transform="scale(0.0876)">
                                            <path transform="rotate(180) scale(-1,1) translate(0,-1536)" d="M896 1536q182 0 348 -71t286 -191t191 -286t71 -348q0 -181 -70.5 -347t-190.5 -286t-286 -191.5t-349 -71.5t-349 71t-285.5 191.5t-190.5 286t-71 347.5t71 348t191 286t286 191t348 71zM1515 185q149 205 149 455q0 156 -61 298t-164 245t-245 164t-298 61t-298 -61t-245 -164t-164 -245t-61 -298q0 -250 149 -455q66 327 306 327q131 -128 313 -128t313 128q240 0 306 -327zM1280 832q0 159 -112.5 271.5t-271.5 112.5t-271.5 -112.5t-112.5 -271.5t112.5 -271.5t271.5 -112.5t271.5 112.5t112.5 271.5z"/>
                                            </g>
                                            </svg>

                                        </div>
                                        <hr id="Line4">
                                        <%= f.text_field :codigo, id: "EditboxDocumento", class: "EditBox", placeholder:"Documento" %>

                                        <hr id="Line1" class="separador">
                                        <%= f.password_field :password, id: "EditboxPassword", class: "EditBox", placeholder:"Contraseña"  %>
                                        <hr id="Line2" class="separador">
                                        <div id="wb_ButtonEntrarDocente">
                                          <%= f.submit "Entrar", id:"ButtonEntrarDocente", class: "boton", style: "color: #FFFFFF" %>
                                        </div>

                                        <hr id="Line6" class="separador">
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </div>
<%= render "teachers/shared/links" %>
