<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'inicio', :media => "all" %>
    <%= stylesheet_link_tag 'index', :media => "all" %>
    <%= stylesheet_link_tag 'font-awesome.min', :media => "all" %>
    <%= stylesheet_link_tag 'jquery-ui.min.css', :media => "all" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
		$(document).ready(function()
		{
		   var Carousel1Opts =
		   {
		      delay: 5000,
		      duration: 600,
		      easing: 'linear',
		      mode: 'forward',
		      direction: '',
		      scalemode: 3,
		      pagination: true,
		      pagination_img_default: '<%= asset_path('page_default.png') %>',
		      pagination_img_active: '<%= asset_path('page_active.png') %>',
		      start: 0
		   };
		   $("#Carousel1").carousel(Carousel1Opts);
		   $("#Carousel1_back a").click(function()
		   {
		      $('#Carousel1').carousel('prev');
		   });
		   $("#Carousel1_next a").click(function()
		   {
		      $('#Carousel1').carousel('next');
		   });
		   $("a[href*='#BookmarkServicios']").click(function(event)
		   {
		      event.preventDefault();
		      $('html, body').stop().animate({ scrollTop: $('#wb_BookmarkServicios').offset().top }, 600, 'linear');
		   });
		   $("a[href*='#BookmarkNoticia']").click(function(event)
		   {
		      event.preventDefault();
		      $('html, body').stop().animate({ scrollTop: $('#wb_BookmarkNoticia').offset().top }, 600, 'linear');
		   });
		   $("a[href*='#BookmarkBeneficios']").click(function(event)
		   {
		      event.preventDefault();
		      $('html, body').stop().animate({ scrollTop: $('#wb_BookmarkBeneficios').offset().top }, 600, 'linear');
		   });
		   $("a[href*='#BookmarkActividades']").click(function(event)
		   {
		      event.preventDefault();
		      $('html, body').stop().animate({ scrollTop: $('#wb_BookmarkActividades').offset().top }, 600, 'linear');
		   });
		   $("a[href*='#BookmarkNuetrasSedes']").click(function(event)
		   {
		      event.preventDefault();
		      $('html, body').stop().animate({ scrollTop: $('#wb_BookmarkNuetrasSedes').offset().top }, 600, 'linear');
		   });
		});
		</script>
  </head>

  <body class= "body-content">
  	
  	<%= render "layouts/menuinicio", inicio: true%>
	<div id="Layer1">
	    <div id="Layer1_Container">
	        <div id="wb_Logo">
	        	<%= link_to root_path do%>
	            	<%= image_tag("logo-ucatolica.svg", :alt => "", :id =>"Logo", :alt => "", :class => "imagen")%>
	            <%end%>
	        </div>
	        
	        <%= render "layouts/menu", menu: "inicio"%>

	    </div>
	</div>

    <%= yield %>

    <%= render "layouts/footer"%>
	<div id="wb_BookmarkServicios">
	    <a id="BookmarkServicios">&nbsp;</a>
	</div>
	<div id="wb_BookmarkNoticia">
	    <a id="BookmarkNoticia">&nbsp;</a>
	</div>
	<div id="wb_BookmarkBeneficios">
	    <a id="BookmarkBeneficios">&nbsp;</a>
	</div>
	<div id="wb_BookmarkActividades">
	    <a id="BookmarkActividades">&nbsp;</a>
	</div>
	<div id="wb_BookmarkNuetrasSedes">
	    <a id="BookmarkNuetrasSedes">&nbsp;</a>
	</div>
	<div id="wb_BookmarkFooter">
	    <a id="BookmarkFooter">&nbsp;</a>
	</div>
  </body>
</html>